 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 556px;
}

.u-section-1 .u-text-1 {
  text-align: start;
  margin: 50px 61px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1548px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 683px;
}

.u-section-2 .u-container-layout-1 {
  padding: 11px 21px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  margin: 19px 9px 0;
}

.u-section-2 .u-layout-wrap-2 {
  width: 719px;
  margin: 3px auto 0 6px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 240px;
}

.u-section-2 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-2 .u-image-1 {
  width: 193px;
  height: 193px;
  margin: 8px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 240px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 9px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 89px 12px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 1227px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-group-1 {
  width: 312px;
  min-height: 1099px;
  height: auto;
  margin: 0 19px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 8px 23px 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 12px 6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
    line-height: 32px;
    font-size: 1.25rem;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 416px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 203px;
  }

  .u-section-2 .u-image-1 {
    width: 190px;
    height: 190px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 203px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    line-height: 32px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 1012px;
  }

  .u-section-2 .u-group-1 {
    width: 747px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 306px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-2 .u-image-1 {
    width: 135px;
    height: 135px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
}overflow-x: auto;