 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 556px;
}

.u-section-1 .u-text-1 {
  text-align: start;
  margin: 34px 122px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1922px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1155px;
  margin: 0 -15px 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 683px;
  width: 847px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  line-height: 32px;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-layout-wrap-2 {
  width: 835px;
  margin: -19px -14px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 353px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 223px;
  height: 223px;
  margin: 52px auto -22px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 353px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: normal;
  margin: 35px 14px -38px -100px;
}

.u-section-2 .u-text-3 {
  margin: 49px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 32px;
  margin: 72px 0 0;
}

.u-section-2 .u-text-5 {
  background-image: none;
  margin: 66px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 1838px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 264px;
  min-height: 1913px;
  margin: 10px auto -185px -29px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 8px 23px 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 12px 6px 0 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2235px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 467px;
    height: 1830px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 89px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 487px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 0 172px 0 -116px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 75px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 75px;
    margin-bottom: -435px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 2335px;
  }

  .u-section-2 .u-group-1 {
    min-height: 2290px;
    margin-top: 8px;
    margin-bottom: -63px;
    margin-left: -34px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2917px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 704px;
  }

  .u-section-2 .u-image-1 {
    width: 197px;
    height: 197px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 704px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
    margin-right: 334px;
    margin-left: -136px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 87px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 2545px;
  }

  .u-section-2 .u-group-1 {
    width: 217px;
    min-height: 2911px;
    margin-left: -49px;
    margin-right: -49px;
    margin-bottom: -474px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4034px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 3301px;
    height: 3301px;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 181px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 343px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -100px;
    margin-right: 295px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -75px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 87px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 639px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1294px;
    margin: -558px auto -196px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5050px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 4157px;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 59px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 448px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 502px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 66px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 84px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 992px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1284px;
    margin-top: -331px;
    margin-bottom: -61px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 24px;
  }
}overflow-x: auto;